@{
    ViewData["Title"] = "Home Page";
}
<h1>Juego sin nombre</h1>
<h2>Bienvenido al juego sin nombre.</h2>
<p>Estás saliendo del colegio y te dirigis a tomarte el subte para ir al Abasto. Vas caminando por la calle y entras a la estación del transporte.</p>
<img src="images/vista1">
<a href='@Url.Action("Tutorial","Home")'>Tutorial del juego</a>