@{
    ViewData["Title"] = "Home Page";
}
<h1>Juego sin nombre</h1>
<h2>Bienvenido al juego sin nombre.</h2>

<h3>HABITACIÓN 1</h3>
    <p>Como están las puertas del subte abiertas y solo hay una puerta en la estación pasas en busca de ayuda.
    Al entrar, ves un espacio amplio. No conseguís vislumbrar su final. Buscas ayuda pero no encontras a nadie.
    En la pared está pintada la frase “las luces determinan tu camino”
    </p>

    <form action='@Url.Action("Habitacion", "Home")'>
        <input type="number" name="clave" placeholder="" required><br>
        <input class="btn btn-primary" type="submit" name="Enviar"><br>
        <input class="btn btn-secondary" type ="reset" name ="Resetear">
    </form>
</div>
