@{
    ViewData["Title"] = "Ajustes";
}
<head>
    <script src="wwwroot/js/site.js"></script>@*Conexión con el archivo de JavaScript*@
    <link rel="icon" href="/images/LogoSalaDeEscape2.png" type="image/png">@*No estaría funcionando*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <h1>Ajustes</h1>
    <h2>¡Acá podés personalizar el juego a tu gusto!</h2>
    <div class="tema">
        <i class="bi bi-brightness-high-fill sun"></i>
        <i class="bi bi-moon-fill moon"></i>
    </div>
    
</body>