@{
    ViewData["Title"] = "Creditos";
}

<h1>Créditos</h1>
<p>Este videojuego ha sido desarrollado por:</p>
<h5>Martín Ioel Zilbersztein</h5>
<h6>Responsable de la creación del backend y del funcionamiento del código, Martín ha puesto su habilidad y dedicación para asegurarse de que cada aspecto técnico del juego funcione a la perfección. Su minucioso trabajo en la arquitectura del sistema y la implementación de las funcionalidades clave han permitido que los jugadores disfruten de una experiencia de usuario fluida y sin ningún tipo de problema. Gracias a su compromiso, los complejos enigmas y las transiciones entre niveles se desarrollan de manera impecable, brindando una experiencia de juego completamente confiable.</h6>
<h5>Leila Aluminé Entenza Chiderski</h5>
<h6>Encargada del diseño del logo y de la estética de la página, Leila ha aportado su talento creativo y su visión artística para dar vida al aspecto visual del juego. Desde la conceptualización inicial hasta los detalles finales, su trabajo ha sido fundamental para crear una experiencia inmersiva y visualmente atractiva. Leila se ha asegurado de que cada elemento gráfico, desde los iconos hasta la interfaz de usuario, contribuya a la atmósfera misteriosa y cautivadora del juego. Su atención al detalle y su pasión por el diseño han resultado en un entorno visual que complementa y enriquezca la jugabilidad.</h6>
<h1>FALTA UNA FOTO DE CADA UNO</h1>
<img src="/wwwroot/images/Gif1.gif">