@{
    ViewData["Title"] = "Game over";
}
<h1>Game over</h1>
<h2>¡Has perdido!<h2>
<p>¡Te has quedado sin vidas!</p>
<p>¡Te felicitamos por tu desempeño en este juego! Sin embargo, ¡creemos que podés hacer más! ¡Seguí intentando!</p>