@{
    ViewData["Title"] = "Game over";
}
<h1>Game over</h1>
<h2>¡Has perdido!<h2>
<p>¡@ViewBag.nombre, te has quedado sin vidas!</p>
<p>¡Te felicitamos por tu desempeño en este juego! Sin embargo, ¡creemos que podés hacer más! ¡Seguí intentando!</p>
<a href='@Url.Action("GuardarDatos", "Home", new {nombre = @ViewBag.nombre, Nivel = @ViewBag.Nivel})'><h3>Reintentar</h3></a>
<a href='@Url.Action("Index", "Home")'><h3>Inicio</h3></a>

