@{
    ViewData["Title"] = "Estadísticas";
}
<div>
    <h1>Estadísticas</h1>
    <p>Cantidad de intentos totales: @ViewBag.contadorIntentos</p>
    <p>Cantidad de pistas pedidas:</p>
    <p id="cantPistas"></p>
</div>