@{
    ViewData["Title"] = "Home Page";
    int vidas = ViewBag.Vidas;
}
<h1>Corrientes subterráneas</h1>

<h3>EL PASILLO SIN FIN</h3>
    <p class="mensajeIncorrecto">@ViewBag.Dato</p>
    <p><b>Vidas restantes:</b></p>
    @for (int i = 0; i < vidas; i++){
    <img class="corazon" src="/images/Corazon.png">
}
    <p>Al salir del subte, encontrás un extenso pasillo con muchas puertas, tanto abiertas como cerradas. No obstante, ninguna te lleva a una aparente salida. Al final de este, ves una pequeña pantalla en la que podés ingresar el código para pasar a la siguiente habitación. Sin embargo, no sabés cuál es.</p>
    <p>Hay dos imágenes en una pared. Aparentemente son iguales, pero... ¿cuáles son sus diferencias? Escribilas separadas con comas y espacios entre estas, en caso de que haya más de una.</p>
    <div class="columnas">
        <img src="/images/habitacion2.png">
        <p><b>Ingresá tu respuesta:</b></p>
        <form action='@Url.Action("Habitacion", "Home")'>
            <input type="hidden" name="sala" value= 2>
            <input autocomplete="off" type="letter" name="clave" placeholder="" required><br>
            <input class="btn btn-primary" type="submit" name="Validar">
            <input class="btn btn-secondary" type ="reset" name ="Resetear"> 
        </form>
        <div>
            <button onclick="alert('Las puertas no parecen llevarte a lugares seguros… ')"> Pista 1</button>
            <button onclick="alert('Todas las puertas te llevan al mismo lugar…')"> Pista 2</button>
        </div>
        <p class="cantPistas"></p>
    </div>
</div>
