@{
    ViewData["Title"] = "Home Page";
}
<h1>Corrientes subterráneas</h1>

<h3>LA HABITACIÓN INFINITA</h3>
    <p>@ViewBag.Dato</p>
    <p>Vidas: @ViewBag.Vidas</p>
    <p>Habiendo salido del gran pasillo, corrés con la esperanza de encontrar unas escaleras para llegar al Abasto y, con suerte, encontrar personas.
    Al entrar, ves un espacio amplio. No conseguís vislumbrar su final. Buscás ayuda pero no encontras a nadie.
    </p>
    <p>No sabés a dónde ir. Escuchás ruidos... Temés que alguien esté persiguiéndote.</p>
    <p>Hay varios caminos, mas no sabés a dónde ir. </p>
    <p>En una pared encontrás un laberinto de los backrooms. Aquel contiene la dirección hacia la que debés ir. ¿Cuál es?</p>
    <div class="columnas">
        <img src="/images/habitacion3-1.png">
        <p><b>Ingresá tu respuesta:</b></p>
        <form action='@Url.Action("Habitacion", "Home")'>
            <input type="hidden" name="sala" value= 3>
            <input autocomplete="off" type="text" name="clave" placeholder="" required><br>
            <input class="btn btn-primary" type="submit" name="Validar">
            <input class="btn btn-secondary" type ="reset" name ="Resetear"> 
        </form>
        <div>
            <button onclick="alert('Está bastante iluminada la habitación...')"> Pista 1</button>
            <button onclick="alert('Cuantas más luces en determinadas direcciones, más recomendable es que te dirijas allí. Es más seguro.')"> Pista 2</button>
        </div>
    </div>
</div>
