@{
    ViewData["Title"] = "Home Page";
    int vidas = ViewBag.Vidas;
}
<head>
    <script src="~/js/site.js"></script>@*Conexión con el archivo de JavaScript*@
    <link rel="icon" href="/images/LogoSalaDeEscape2.png" type="image/png">@*No estaría funcionando*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body><h1>Corrientes subterráneas</h1>
<h3>EL SUBTE</h3>
<div id="paso1" class="paso">
    <p>Estás saliendo del colegio y te dirigis a tomarte el subte para ir al Abasto. Vas caminando por la calle y entras
        a la estación del transporte.</p>
    <div class="columnas">
        <img src="/images/habitacion1-1.JPG">
        <button onclick="mostrarpaso(2)">Continuar</button>
    </div>
</div>
<div id="paso2" class="paso">
    <p>@ViewBag.Dato</p>
<div>
    <p><b>Vidas restantes:</b></p>
    @for (int i = 0; i < vidas; i++){
    <img class="corazon" src="/images/Corazon.png">
}
</div>
    <p>Esto ya te resultó extraño, sin embargo al ver dentro del transporte no ves a una sola persona.
        Repentinamente, te sentis demasiado cansado y al estar todos los asientos libres no tenes mejor idea que dormir.
        Al despertarte, notas que el vehículo está detenido en la estación Carlos Gardel y temes por la hora y pensas en
        llamar a tu familia. Al verificar tu celular, logras comprobar que no podés contactarte con nadie. Al intentar
        salir del subte, notás que las puertas no se abren, pero hay un espacio para escribir un código con un papel a
        su lado. Este dice “el código es el cuádruple de la batería de su celular”. ¿Cuál es el código?</p>
    <div class="columnas">
        <p><b>Ingresá tu respuesta:</b></p>
            <form action='@Url.Action("Habitacion", "Home")'>
                <input type="hidden" name="sala" value=1>
                <input autocomplete="off" type="number" name="clave" placeholder="" required><br>
                <input class="btn btn-primary" type="submit" name="Validar">
                <input class="btn btn-secondary" type="reset" name="Resetear">
            </form>
            <section class="contenedorPistas">
                <div class="boton">
                    <button>Pista 1</button>
                    <p>Cuando compraste tu celular, te garantizaron poder conectarte con quien quisieras, siempre y cuando tuviera batería</p>
                </div>
                <button class="botonOtro" onclick="alert('Cuenta la leyenda que, en la familia de los números, hay uno invencible: pase lo que pase, suceda lo que le suceda, nunca cambia; nunca se ve afectado. Su ayuda será crucial para avanzar en tu camino')">Pista 2</button>.
            </section>
            <p class ="cantPistas"></p>
    </div>

    <!-- <form action='@Url.Action("Incrementar", "Home")'>
        <button onclick="alert('Cuando compraste tu celular, te garantizaron poder conectarte con quien quisieras, siempre y cuando tuviera batería')">Pista 1</button>.
        <button onclick="alert('Cuenta la leyenda que, en la familia de los números, hay uno invencible: pase lo que pase, suceda lo que le suceda, nunca cambia; nunca se ve afectado. Su ayuda será crucial para avanzar en tu camino')">Pista 2</button>.
    </form> -->
</div>
</body>