@{
    ViewData["Title"] = "Habitación 10";
    int vidas = ViewBag.Vidas;
}
<h1>Corrientes subterráneas</h1>
<h3>LA HABITACIÓN INUNDADA</h3>
<p>@ViewBag.Dato</p>
<div>
    <p><b>Vidas restantes:</b></p>
    @for (int i = 0; i < vidas; i++){
    <img class="corazon" src="/images/Corazon.png">
}
<p>Al pasar por esta puerta, no te das cuenta y cerrás la puerta de la habitación anterior. El piso está inundado y al ver al frente ves a la hidra. No tenes forma de matarla entonces sabes que tenes que pasar a otra habitación y así sucesivamente con el fin de escapar. Sabes que no vas a poder hacer esto por toda la eternidad entonce tenes que pensar una solución.</p>
<p>La hidra se acerca rápidamente. Debés acabar con ella. 
Recordás que en la mitología griega la hidra tiene solo una debilidad que, en cierto modo, contradice su nombre. Sin embargo, necesitás conseguir aquel elemento. ¿Qué elemento necesitás?</p>
<div class="columas">
    <img src="/images/habitacion10.png">
    <p><b>Ingresá tu respuesta:</b></p>
    <form action='@Url.Action("Habitacion", "Home")'>
        <input type="hidden" name="sala" value=10>
        <input autocomplete="off" type="descripcion" name="clave" placeholder="" required><br>
        <input class="btn btn-primary" type="submit" name="Validar">
        <input class="btn btn-secondary" type ="reset" name ="Resetear">
    </form>
    <div>
        <button onclick="alert('¿De qué palabra viene Hidra?')">Pista 1</button>
        <button onclick="alert('¿Qué puede apagar el elemento que viene de su nombre?')">Pista 2</button>
    </div>
</div>