@{
    ViewData["Title"] = "Habitación 5";
} 
<h1>Corrientes subterráneas</h1>
<h3>LA MANSIÓN DE PIEDRA</h3>
<p>@ViewBag.Dato</p>
<p>Al salir del patio, entrás en una gran mansión. La situación comienza a desconcertarte: ¿todo lo que existe se puede encontrar aquí? 
Hallás una nota: “La oveja negra de la familia es la salvación de esta misma”. ¿Qué objeto es ligeramente diferente a sus pares?
</p>
<div class="columnas">
    <img src="/images/habitacion5.png">
    <p><b>Ingresá tu respuesta:</b></p>
    <form action='@Url.Action("Habitacion", "Home")'>
        <input type="hidden" name="sala" value=5>
        <input autocomplete="off" type="text" name="clave" placeholder="" required><br>
        <input class="btn btn-primary" type="submit" name="Validar">
        <input class="btn btn-secondary" type ="reset" name ="Resetear">
    </form>
    <div>
        <button onclick="alert('Buscá objetos alineados.')">Pista 1</button>
        <button onclick="alert('El negro no es un color.')">Pista 2</button>
    </div>
</div>