@{
    ViewData["Title"] = "Home Page";
}
<h1>Juego sin nombre</h1>
<h2>Bienvenido al juego sin nombre.</h2>
<a href='@Url.Action("Tutorial","Home")'>Tutorial del juego</a>
<a href='@Url.Action("Comenzar","Home")'>Iniciar juego</a>
<a href='@Url.Action("Créditos","Home")'>Mostrar créditos</a>
