@{
    ViewData["Title"] = "Home Page";
}
 @* <link rel="icon" href="/images/LogoSalaDeEscape2.png" type="image/png"> PREGUNTAR NO ANDA :(*@
<h1>Corrientes subterráneas</h1>
<h3>Bienvenido a Corrientes Subterráneas</h3>
<div class="menu">
    <a href='@Url.Action("Tutorial","Home")'><h4>Tutorial del juego</h4></a>
    <a href='@Url.Action("Comenzar","Home")'><h3>Iniciar juego</h3></a>
    <a href='@Url.Action("Creditos","Home")'><h3>Créditos</h3></a>
</div>
<p>Sumergite en una aventura única donde la realidad y lo desconocido se entrelazan en los misteriosos backrooms. Tu viaje comienza en las profundidades de un subte que parece ser uno más de los que se usan diariamente, pero que termina en un lugar totalmente desconocido, en el cual encontrarás criaturas inimaginables. Cada pista y cada indicio te acercarán a la salida... si es que existe.</p>

