@{
    ViewData["Title"] = "login";
}
<div class="iniciarSesion">
    <h1>Iniciar sesión</h1>
    <form method="post" action='@Url.Action("Login", "Home")'>
        <div class="username">
            <label><b>Nombre de usuario:</b></label>
            <input type="text" required>    
        </div>
        <div class="contraseña">
            <label><b>Contraseña:</b></label> 
            <input type="password" required>
        </div>
        <div class="recuperar">
            Olvidé mi contraseña
        </div>        
        <input type="submit" value="Iniciar Sesión">
    </form>
    <div class="Registrarse">
        <a href='@Url.Action("registrarse","Home")'>Crear una cuenta</a>
    </div>
</div>