@{
    ViewData["Title"] = "Login";
}
<div class="iniciarSesion">
    <h1>Iniciar sesión</h1>
    <form method="post">
        <div class="username">
            <input type="text" required>
            <label>Nombre de usuario</label>
        </div>
        <div class="contraseña">
            <input type="password" required>
            <label>Contraseña</label>
        </div>
        <div class="recuperar">
            Olvidé mi contraseña
        </div>
        <input type="submit" value="iniciar">
        <div class="Registrarse">
            <a href="#"
        </div>
    </form>
</div>