@{
    ViewData["Title"] = "registrarse";
}

<div class="iniciarSesion">
    <h1>Registrarse</h1>
    <form method="post" action='@Url.Action("Registrarse", "Home")'>
        <div class="username">
            <label><b>Cree un nombre:</b></label>
            <input type="text" required>    
        </div>
        <div class="contraseña">
            <label><b>Cree una contraseña:</b></label> 
            <input type="password" required>
        </div>      
        <input type="submit" value="Crear Cuenta">
    </form>
</div>