@{
ViewData["Title"] = "Tutorial";
}
    <h1>Tutorial</h1>
    <h3>¿Te gustaría informarte sobre cómo escapar de estas salas? ¡Acá te lo contamos!</h3>
    <p>Al comenzar, te encontraras con la situación de que te encontras atrapado en el subte. Tendrás que usar tu ingenio y habilidades de observación para encontrar pistas que te ayuden a avanzar. Cada habitación en la que entres presentará un nuevo conjunto de obstáculos que deberás superar para seguir adelante.</p>
    <p>A lo largo de las diversas habitaciones que te encontrarás, deberás utilizar tu pensamiento lógico y crítico y tu capacidad de percibir detalles para escapar y pasar a la siguiente zona.</p>
    <p>Como ayuda, tendrás la oportunidad de acceder a dos pistas por sala, ¡por lo que no te frustres si no podés adivinar una de las claves!</p>
    <p>Para lograr avanzar por las habitaciones deberás comprobar que la respuesta sea correcta y llegar hasta la última habitación.</p>
    <p>Sin más que decir, ¡Que te diviertas!</p>
    <h1><u>Podría ser un punteo...?</u></h1>
    <p>Al momento de iniciar el juego, verás un pequeño formulario en el que podrás seleccionar el nivel en el que jugarás. ¡Cuanto más alto, más desafiante será completar el juego! Los aspectos que cambia la selección de la dificultad son la cantidad de tiempo y vidas que tendrás!</p>
    <p>Nota: recordá escribir todas las claves sin tildes. Si la respuesta es un número, ingresalo en dígitos; no en palabras.</p>
    <!-- <h3>PREGUNTAS FRECUENTES</h3>
     <details>
        <summary>¿En qué cambian los diferentes niveles?</summary>
        <p>Cada nivel cambia la cantidad de vidas y el tiempo que tendrás para resolver el juego. ¡Cuanto más alto el nivel, más desafiante será!</p>
    </details> -->
    <section class="container">
        <div class="slider-wrapper">
            <div class="slider">
                <img id="slide-1" src="/images/habitacion1-2.png"/>
                <img id="slide-2" src="/images/habitacion1-3.jpg"/>
                <img id="slide-3" src="/images/habitacion4.jpg"/>
            </div>
            <div class="slider-nav">
                <a href="#slide-1"></a>
                <a href="#slide-2"></a>
                <a href="#slide-3"></a>
            </div>
        </div>
    </section>


