@{
ViewData["Title"] = "Tutorial";
}
    <h1>Tutorial</h1>
    <p>Al comenzar, te encontraras con la situación de que te encontras atrapado en el subte. Al pasar por las diferentes habitaciones enfrentaran una diversidad de desafíos que lo llevaran lograr este escape.</p>
    <p>Como ayuda, tendrá la oportunidad de acceder a pistas o pistas extra. Para lograr avanzar por las habitaciones deberá comprobar que su respuesta sea correcta y llegar hasta la última habitación.</p>
    <p>Sin más que decir, ¡Que te diviertas!</p>
    <img src="/images/vista1.png">
    <img src="/images/backroomAgua.png">
    <img src="/images/habitacionAntigua.png">


