@{
    ViewData["Victoria"]
}
<h1>¡Felicidades, lograste escapar!</h1>
<p>Habiendo quemado a la Hidra se vuelve a abrir la puerta de la habitación 3 y al pasar entras a la estación de subte.</p>
<!-- Luego debo añadir un videito feliz -->