html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #A39A7A;
}

.paso{
  display: none; 
  transition: visibility 0s, opacity 0.5s linear; /*buscar transiciones de show/hide*/}
#paso1{display: block;}

img{
  width: 50%
}

h1{
  background-color: #575b28;
  color: #E8E6DE;
  text-align: center;
}
h3{
  text-align: center;
}
a{
  text-decoration: none;
  color: #575b28;
}
input{
  margin: 1%
}
p{
  margin-top: 3%;
}
.menu{
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
}

.columnas {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.columnas div{
  margin-top: 1%; 
}
form{
  margin-top: 1%;
}
