html {
  font-size: 14px;
}

@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #669999;
  font-family: 'Wittgenstein', sans-serif;
}
.paso{
  display: none; 
  transition: visibility 0s, opacity 0.5s linear; /*buscar transiciones de show/hide*/}
#paso1{display: block;}/*TRANSICIÓN DE CONTENIDO EN LA MISMA VISTA*/

h1{
  background-color: #164444;
  color: #ffffff;
  text-align: center;
}
h3{
  text-align: center;
}
a{
  text-decoration: none;
  color: #004141;
}
img{
  width: 70%;
}
input{
  margin: 1%;
}
p{
  margin-top: 1%;
}
.menu{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3%;
}

.columnas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.columnas div{
  margin-top: 1%; 
}
form{
  margin-top: 1%;
}
button{
  margin-top: 5%;
  margin-bottom: 5%;
  color:#ffffff;
  background-color: #164444;
  box-shadow: 0 0 5px #164444, 0 0 25px #164444;
}
button:hover {
  box-shadow: 0 0 5px #164444, 0 0 25px #164444, 0 0 50px #164444;
}
.contenedorPistas p{
  display:none;
}


.creditos{
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
.creditos img{
width: 30%;
}
.container {
  padding: 1%;
  overflow: hidden;
}

.slider-wrapper {
  position: relative;
  max-width: 70%;
  margin: 0 auto;
}

.slider{
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 10px;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.slider img {
  width: 100%;
  flex: 0 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

audio{
  margin-top: 2%;
}
/* Cambio de íconos entre claro y oscuro. Hasta ahora solamente investigué
cómo hacerlo como si estuviera en el header, porque apareeeeeentemente hay
bastantes páginas que los usan así. A mí no me gusta, pero habría que buscar
de otra forma. */
body.modo-oscuro .sun{
  display:block;
}
body .sun{
  display:none;
}
body.modo-oscuro .moon{
  display:none;
}
body .tema:hover{
  cursor:pointer;
} 